* {

	box-sizing: border-box;
	
}

body {

	overflow: hidden;
	
}

#wrapper {

	position: absolute;
	
	top: 1%;
	left: 1%;
	right: 1%;
	bottom: 1%;
	
}

.top {

	position: absolute;
	top: 0;
//	bottom: 80%;
	
	height: 80px;

	padding: 15px;
	
	left: 0;
	right: 0;
	
}

.middle {

	position: absolute;
	top: 80px;
	bottom: 80px;
	
	left: 0;
	right: 0;
	
}

.bottom {

	position: absolute;
//	top: 80%;
	bottom: 0;
	
	height: 80px;
	
	left: 0;
	right: 0;
	
}

#menu {

	position: absolute;
	
	top: 80px;
	
	bottom: 0;
	left: 0;
	right: 0;
	
}

#loader {

	position: absolute;
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: black;
	
	z-index: 999;
	
	.cube {
	
		position: absolute;
		
		left: 50%;
		top: 50%;
		
		height: 100px;
		width: 100px;
		
		margin-left: -50px;
		margin-top: -50px;
		
		border: 2px solid white;
		background: none;
		border-radius: 0;
		
		animation: loading 1s infinite;
		
	}
	
}

@keyframes loading {

	0% { background: none; border-radius: 0; transform: rotate(0)}
	50% { background: white; border-radius: 50%; transform: rotate(180deg)}
	100% { background: none; border-radius: 0; transform: rotate(360deg)}
	
}